.splash-main-container{
    height: 800px;
}
.splash-container{
    width: auto;
    margin-top: 60px;
    height: 350px;
    display: flex;
    justify-content: center;
    background-color: #141414;
    background-position: 100%;
    background-size: cover;
    /* padding: 22px; */
    margin: 14px;
    background-image: url(https://a-v2.sndcdn.com/assets/images/hp_creator_image_featured_artists-798050ae.jpg);
}

.splash-text-container{
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-right: 100px; */
    /* align-items: flex-start; */
    width: auto;
    margin-right: 500px;
    margin-bottom: 50px;
}

#splash-text-big{
    font-size: 36px;
    font-weight: 100;
}

#splash-text-small{
    font-size: 20px;
    line-height: 1.35;
    margin: 11px 0 26px;
}
.splash-text{
    color: whitesmoke;
    font-family: 'Mulish', sans-serif;

}

.splash-button{
    color: whitesmoke;
    font-family: 'Mulish', sans-serif;

    width: fit-content;
    font-size: 18px;
    padding: 13px 24px;
    height: 46px;
    background: transparent;
    line-height: 18px;
    display: flex;
    position: relative;
    border: 1px solid #ccc;
    margin: 0;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
}

.splash-button:hover{
    border-color: #e5e5e5;
}

.signupModule{
    text-align: center;
    margin-top: 100px;
    height: 210px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.signupModule-title{
    font-size: 36px;
    font-family: 'Mulish', sans-serif;
    // font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    padding: 10px;
    color: #333;
}

.signupModule-text{
    font-size: 24px;
    margin-top: 7px;
    font-family: 'Mulish', sans-serif;
    // font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    color: #333;
}

.signupModule-button{
    // margin: 13px 0;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    height: 46px;
    width: 200px;
    padding: 13px 23px;
    min-width: 200px;
    display: grid;
    position: relative;
    border-radius: 3.4px;
    padding: 5px;
    background-color: #ff5500;
    transition: all 0.1s ease-in;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    font-size: 21px;
    font-family: 'Mulish', sans-serif;
    color: #fff;
    top: 6%;
    left: 41.4%;
}

.signupModule-signin{
    margin: 25px 0 10px;
    display: flex;
    flex-direction: row;
    font-size: 14px;

    align-items: center;
    justify-content: center;
}

.signupModule-signin-button{
    display: flex;
    color: #333;
    z-index: 1;
    position: relative;
    color: black;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3.4px;
    padding: 5px;
    min-width: 60px;
    background-color:transparent;
    transition: all 0.1s ease-in;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    width: 53px;
    margin-left: 40px;
    font-size: 13px;
    height: 19px;
    font-family: 'Mulish', sans-serif;
}